@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 85px;
  line-height: 74px;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
  color: #222;
}

h4 {
  font-size: 30px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 20px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s ease;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  padding: 16px 200px;
  background-color: #f4f4f4;
  box-shadow: 0 5px 15px #e3e3e3;
  z-index: 999;
  top: 0;
  left: 0;
}

#header img {
  height: 50px;
  width: 100px;
}
#navbar .cart {
  position: relative;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  margin-top: 10px;
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: green;
  cursor: pointer;
  transition: 0.3s ease;
}

#navbar li a.active {
  color: green;
}

#navbar li a.active::after {
  content: "";
  width: 30%;
  background-color: green;
  height: 3px;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a::after {
  content: "";
  width: 0;
  background-color: green;
  height: 3px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.3s;
}

#navbar li a:hover {
  color: green;
}

#navbar li a:hover::after {
  width: 30%;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#newsletter {
  background-image: url(b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter span {
  color: yellow;
}

#newsletter input {
  height: 3.12rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: green;
  color: white;
  height: 3.12rem;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .row .form {
  display: flex;
  align-items: center;
  width: 40%;
}

#footer span {
  color: #606a79;
  font-weight: 600;
  font-size: 20px;
}

#footer ul {
  font-size: 15px;
  padding: 0;
  list-style: none;
}

#footer .contact span {
  font-weight: 700;
}

#footer .contact p {
  font-size: 17px;
  font-weight: 500;
}

#footer .contact .row .install {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer .contact .row .logo img {
  width: 100px;
  padding-bottom: 10px;
  height: 5rem;
}

/* Blog.html */
#blog-header {
  background-image: url(https://thehealthmaster.com/wp-content/uploads/2020/05/pharmacy-2066096_1280-scaled.jpg);
  /*   width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  
  /* min-height: 500px; */
  /* background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */

  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  /* min-height: 500px; */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

#blog-header h2,
#blog-header p {
  color: #295140;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 15px;
  color: #4b9676;
  font-weight: 700;
  transition: 0.3s;
}

#blog .blog-details a:hover {
  color: #295140;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #aaaaaa;
  z-index: -100;
}

#blog .blog-details h4 {
  font-size: 21px;
  font-weight: 700;
  color: #295140;
}

#blog .blog-details p {
  font-size: 16px;
}

@media (max-width: 1023px) {
  #header {
    padding-left: 60px;
    padding-right: 60px;
  }

  #footer .contact .row .logo img {
    width: 130px;
    height: 50px;
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  #newsletter .row .form {
    display: flex;
    align-items: center;
    width: 60%;
  }
}

/* blog.html */
@media (max-width: 850px) {
  #blog {
    padding: 100px 50px 0 50px;
  }
}

/* index.html */
@media (max-width: 821px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(227, 228, 227);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #navbar.active {
    right: 0px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: green;
    font-size: 23px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #465b52;
    font-size: 23px;
  }
  #newsletter .row .form {
    width: 100%;
  }

  #footer {
    padding: 20px;
  }

  /*blog.html  */
  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* Contact.html */
}

@media (max-width: 578px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
    line-height: 50px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  #header {
    padding: 10px 30px;
  }
  .section-p1 {
    padding: 10px 30px;
  }

  #banner3 {
    justify-content: center;
    padding: 0 30px;
  }

  #newsletter .row .form {
    width: 100%;
  }

  #footer .contact .row .install {
    justify-content: center;
  }
}
